

[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_200006800E43323543323320-if00      # Serial connection for the MCU expander
restart_method: command                                               # Restart method for the expander

[fan_generic Electronics_Fan]
pin: expander:PA0							# Signal interface pin for controller fan
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.010

[fan_generic controller_fan]        	    # Controller fan for the electrical compartment
## Nevermore blower  fans              	    # FAN2 Connector
pin: expander:PA1                   	    # Signal interface pin for controller fan
# cycle time: 0.50                  	    # Cycle time for the fan (commented out)

[temperature_sensor chamber]          		# Box temperature sensor (requires an additional temperature sensor)
sensor_type: ATC Semitec 104GT-2        	# Thermistor type
sensor_pin: expander:PA5               		# Modify to the corresponding PIN (required)
min_temp: 10                            	# Minimum temperature for sensor
max_temp: 100                           	# Maximum temperature for sensor

[output_pin mosfet2]                    	# Output pin for MOSFET 2
pin: expander:PA2                       	# Signal interface pin for MOSFET 2
pwm: true                               	# Enable PWM control
cycle_time: 0.010                       	# Cycle time for PWM signal
value: 0                                	# Initial value for the output
shutdown_value: 0                      		# Value when shutting down
  
[output_pin mosfet3]                    	# Output pin for MOSFET 3
pin: expander:PA3                       	# Signal interface pin for MOSFET 3
pwm: true                               	# Enable PWM control
cycle_time: 0.010                       	# Cycle time for PWM signal
value: 0                                	# Initial value for the output
shutdown_value: 0                       	# Value when shutting down

# Status LED lights when Klipper connects
#[static_digital_output onboardLED]
#pins: !expander:PA4                     	# Pin for the onboard LED

[neopixel expanderPixel]                	# Neopixel configuration
pin: expander:PB1                       	# Signal interface pin for Neopixel
chain_count: 1                          	# Number of Neopixels in the chain
initial_RED: 0.9                        	# Initial red value for Neopixel
initial_GREEN: 0.3
initial_BLUE: 0.0


# Other Pins
# T0 = PA6									# Temperature sensor T0 pin
# T1 = PA5									# Temperature sensor T1 pin
# GPIO = PA7                            	# General purpose input/output pin
