
#      When the 'critical error' section appears after a MCU shutdown failure etc. type the below into Putty to rectify 
#      cd ~
#      git clone https://github.com/julianschill/klipper-led_effect.git
#      cd klipper-led_effect
#      ./install-led_effect.sh

[neopixel disco_sticks]
pin: gpio24                                     #   The pin connected to the neopixel. This parameter must be provided                    
chain_count: 20
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGB. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0

#####################################################
# MACROS 
# The following status macros are available (these go inside of your macros):
#
#    STATUS_READY
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#
#    With additional macros for basic control:
#
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF

#####################################################
# LED Effects Animations 

[led_effect critical_error]
leds:
    neopixel:disco_sticks
autostart:           false
frame_rate:             24
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
run_on_error:                          true

[led_effect rainbow]
leds:
    neopixel:disco_sticks
autostart:            true
frame_rate:             24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect disco_sticks_homing]
autostart:           false
frame_rate:             24
leds:
   neopixel:disco_sticks
layers: 
 breathing  3  10 add (5, 0.6, 0)                                                # Pulsing Yellow/Orange across both sticks
 #gradient  1  1 add (2, 0.2, 0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)                 # Pulsing Orange led - one at a time across both sticks
 
[led_effect disco_sticks_bed_heating]
autostart:           false
frame_rate:             24
leds:
   neopixel:disco_sticks
heater: heater_bed
layers:
 heater 20 0 add (1,0,0),(0,0,1)                                                 # Cyan -blue - Red when heating
 static 0 0 top (0,0,1)                                                          # Turn blue when hot
 # breathing 10 1 add (1,0,0),(0,0,1)                                            # Pulsing and alternating CYAN + RED when heating  ??

[led_effect disco_sticks_extruder_heating]
autostart:           false
frame_rate:             24
leds:
   neopixel:disco_sticks
heater: extruder
layers:
 temperature 10 200 top (0,0,1),(1,0,0)
 static 0 0 top (1,0,0)                                                           # Turn RED when hot
 # breathing 10 1 add (1,0,0),(0,0,1)                                             # Pulsing and alternating CYAN + RED when heating  ??
 # linearfade 3 0 top (0,0,1),(1,0,0)  

[led_effect disco_sticks_printing]
autostart:           false
frame_rate:             24
leds:
   neopixel:disco_sticks
layers:
 gradient  2  4 add (0, 0, 0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)                
 #breathing  3  10 add (5, 0.6, 0)                                                # Pulsing Yellow/Orange across both sticks

[led_effect disco_sticks_part_ready]
leds:
    neopixel:disco_sticks
autostart:           false
frame_rate:             24
layers:
    breathing      2  4 difference (0, 0, 0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)
  #  breathing      2  0     difference (1,0,0),(0,0,1)  #(0.95, 0.0, 0.0)         # Pulses and alternates blue and red
  #  strobe         1  1.5   add        (1.0,  1.0, 1.0)

[led_effect disco_sticks_cancel]
autostart:           false
frame_rate:             24
leds:
   neopixel:disco_sticks
layers:
 gradient  1  4 add (1, 0, 0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.2)                     # Faster rainbow effect
 #breathing  3  10 add (5, 0.6, 0)                                               

 
#####################################################
# LED Macros

[gcode_macro status_homing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=disco_sticks_homing

[gcode_macro status_bed_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=disco_sticks_bed_heating
   
[gcode_macro status_extruder_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=disco_sticks_extruder_heating 

[gcode_macro status_cancel]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=disco_sticks_cancel

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=disco_sticks_printing
      
[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro status_part_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=disco_sticks_part_ready
   

[gcode_macro status_busy]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_busy
    set_nozzle_leds_on


# [gcode_macro status_cooling]
# gcode:
#    STOP_LED_EFFECTS
#    SET_LED_EFFECT EFFECT=sb_logo_cooling
#    SET_LED_EFFECT EFFECT=sb_nozzle_cooling


[gcode_macro status_leveling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_leveling
    set_nozzle_leds_on

[gcode_macro status_cleaning]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cleaning
    set_disco_sticks_on


[gcode_macro status_calibrating_z]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_calibrating_z
    set_nozzle_leds_on

######################################################

[gcode_macro LIGHT_ON]
variable_delay_ms: 50
variable_led_count: 8
gcode:
  {% for led_index in range(1, led_count + 1) %}
    SET_LED LED=rgb1 RED=0.8 GREEN=0.8 BLUE=0.99 INDEX={led_index}
    SET_LED LED=rgb2 RED=0.8 GREEN=0.8 BLUE=0.99 INDEX={led_index}
    G4 P{delay_ms}
  {% endfor %}
  
[gcode_macro LIGHT_OFF]
gcode:
  SET_LED LED=rgb1 RED=0 GREEN=0 BLUE=0
  SET_LED LED=rgb2 RED=0 GREEN=0 BLUE=0

[gcode_macro LOGO_PENDING]
gcode:
  SET_LED LED=bed_light RED=0.99 GREEN=0.1 BLUE=0.1 WHITE=0

[gcode_macro LOGO_READY]
gcode:
  SET_LED LED=bed_light RED=0.1 GREEN=0.2 BLUE=0.99 WHITE=0

[gcode_macro LOGO_OFF]
gcode:
  SET_LED LED=bed_light RED=0 GREEN=0 BLUE=0 WHITE=0
