

[include mainsail.cfg]

[include Homing.cfg]

[include Macros.cfg]

[include Lighting.cfg]

[include Filament change.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571290D41F8-if00
restart_method: command
## serial: /dev/ttyAMA0 								# for UART connection

[mcu host]												
serial: /tmp/klipper_host_mcu							# Identify the BTT Pi V1.2 for cooling fan purposes


[exclude_object]

#[temperature_sensor mcu_temp]
#sensor_type: temperature_mcu
#min_temp: 0
#max_temp: 100

#[temperature_sensor raspberry_pi]
#sensor_type: temperature_host
#min_temp: 10
#max_temp: 100

[force_move]
enable_force_move: True


[printer]
kinematics: corexy
max_velocity: 400
max_accel: 30000
max_z_velocity: 40
max_z_accel: 350
square_corner_velocity: 10

###################################################################
#      X/Y Stepper Settings
###################################################################

[stepper_x]
step_pin: gpio11
dir_pin: gpio10                                         # Check motor direction in link above. If inverted, add a ! before gpio10
enable_pin: !gpio12
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                            # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
# endstop_pin: ^gpio4
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 25                                        #For sensorless homing it is recommended not to go above 40mm/s 
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
interpolate: False
run_current: 0.5                                       #Start run_current as 60%-70% of maximum_run_current where maximum_run_current = rated_motor_current * 0.707 | (1.5 * 0.707 = 1.06) | LDO-42STH48-2504AC
hold_current: 0.35
sense_resistor: 0.110
stealthchop_threshold: 0                               # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: ^gpio4                                       #Jump DIAG PIN ON on MCU for sensorless homing
driver_SGTHRS: 53                                      # this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this 

[stepper_y]
step_pin: gpio6
dir_pin: gpio5                                         # Check motor direction in link above. If inverted, add a ! before gpio5
enable_pin: !gpio7
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                           # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
# endstop_pin: ^gpio3
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 25
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
interpolate: False
run_current: 0.5                                       # you need to calculate the run_current value using the equation (rated_motor_current * 0.707 = Maximum_run_current) start with a value that is about 60%-70% of your maximum value.
hold_current: 0.35
sense_resistor: 0.110
stealthchop_threshold:0                                # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: ^gpio3                                       # YOU NEED TO JUMP THIS DIAG PIN ON YOUR BOARD FOR SENSORLESS HOMING TO WORK 
driver_SGTHRS: 60
# this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this 

###################################################################
#   Z Stepper Settings
###################################################################

[stepper_z]
step_pin: gpio19
dir_pin: !gpio28                                        # Check motor direction in link above. If inverted, add a ! before gpio28
enable_pin: !gpio2
rotation_distance: 8                                    # For T8x8 integrated lead screw
microsteps: 32
endstop_pin: ^gpio25                                    # endstop_pin: probe:z_virtual_endstop
#position_endstop: 120
position_min: -1.5
position_max: 120
homing_speed: 60
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
interpolate: False
run_current: 0.40                                       ## For OMC (StepperOnline) 17LS13-0404E-200G 0.4A    ## For OMC (StepperOnline) 17LS13-0404E-200G 0.4A                                                                    
hold_current: 0.35
sense_resistor: 0.110
stealthchop_threshold:0                                 # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

###################################################################
#   Extruder
###################################################################

[extruder]
step_pin: gpio14
dir_pin: gpio13                                        # Add ! if moving opposite direction
enable_pin: !gpio15
full_steps_per_rotation: 200                           # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
gear_ratio: 50:10   
rotation_distance: 22.731
microsteps: 32
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: gpio23
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type:PT1000
sensor_pin: gpio27
#control: pid
#pid_Kp: 30.773
#pid_Ki: 2.093
#pid_Kd: 113.092
min_temp: 0
max_temp: 270
max_extrude_only_distance: 150
max_extrude_cross_section: 0.8
pressure_advance: 0.030        # See tuning pressure advance doc
pressure_advance_smooth_time: 0.0180

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
interpolate: False
run_current: 0.350
hold_current: 0.200
sense_resistor: 0.110
# stealthchop_threshold: 0

##################################################################
#   Bed Heater
##################################################################

[heater_bed]
heater_pin: gpio21
sensor_type:ATC Semitec 104NT-4-R025H42G
sensor_pin: gpio26
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
smooth_time: 3.0
max_power: 0.7                                       # Only needed for 100w pads
#control: pid
min_temp: 0
max_temp: 130
#pid_Kp: 51                  
#pid_Ki: 0.660               
#pid_Kd: 996.943              

##################################################################

[idle_timeout]
timeout: 1800

## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

##################################################################
# Fan Control
##################################################################

[temperature_sensor SKR_Pico]
sensor_type: temperature_mcu


[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host


[temperature_fan Raspberry_Pi]
pin: host: gpio211                                   # the fan control pin (must be a mosfet or a pwm fan)
control: watermark									 # the type of hysteresis we are using
max_delta: 2.5                                       # fan turns on/off at 3° over/under target_temp
kick_start_time: 0.8								 # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.1
max_power: 1.0
sensor_type: temperature_combined                    # new temperature type temperature_host
sensor_list: temperature_sensor Raspberry_Pi         # temperature_sensor SKR_Pico
combination_method: max                              # use the maximum reading of the sensors
maximum_deviation: 999.9                             # we don't care about the difference in temperature
min_temp: 0
max_temp: 85										 # just the valid temperature ranges
target_temp: 45										 # the initial target temperature for the fan
max_speed: 1.0
min_speed: 0.3

[temperature_fan SKR_Pico] 
pin: gpio20                                          # the fan control pin (must be a mosfet or a pwm fan)
control: watermark                                   # the type of hysteresis we are using
max_delta: 2.5                                       # fan turns on/off at 3° over/under target_temp
sensor_type: temperature_combined                    # new temperature type
sensor_list: temperature_sensor SKR_Pico             # temperature_sensor Raspberry_Pi
combination_method: max                              # use the maximum reading of the sensors
maximum_deviation: 999.9                             # we don't care about the difference in temperature
max_temp: 85                                         # just the valid temperature ranges
min_temp: 0
target_temp: 48.0                                    # the initial target temperature for the fan
max_speed: 1.0
min_speed: 0.3
		
[heater_fan hotend_fan]
pin: gpio18
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0                                      # You can't PWM the delta fan unless using blue wire

[fan]
pin: gpio17
max_power: 0.8    #1.0
kick_start_time: 0.5                                 # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 119.00
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.070
#*# pid_ki = 0.657
#*# pid_kd = 992.029
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.959
#*# pid_ki = 2.085
#*# pid_kd = 114.937
